= render 'layouts/page_header', title: 'Account settings'

#edit_user_form
  = render 'edit_user_form'

%form.form-horizontal#gravatar
  .row
    .offset2
      .control-group
        %label.control-label Gravatar image
        .controls
          = gravatar_for @user
          = link_to "change", "http://gravatar.com/emails"

#change_password_form
  -#= render 'change_password_form'