= render layout: 'layouts/page_header', locals: { title: 'Dashboard' } do
  #game_ends_in
    #countdown.pull-right{ data: { year: @game_end.year, month: @game_end.month, day: @game_end.day } }
    %span.muted Game ends in:

.row
  .span12
    #net_income_chart{ href: net_income_series_users_path }

.row
  .span8
    %h2 Player standings
    = render 'player_standings_table'
  .span4
    %h2#adventure_time.pull-right= link_to 'What time is it?', 'https://www.youtube.com/watch?v=A7Jvk6__23I'
    #world_clocks.pull-right.right
      %p
        %span.city.muted Beijing:
        %span#beijing.clock 00:00 AM
      %p
        %span.city.muted New Delhi:
        %span#new_delhi.clock 00:00 AM
      %p
        %span.city.muted London:
        %span#london.clock 00:00 AM
      %p
        %span.city.muted Atlanta:
        %span#atlanta.clock 00:00 AM
      %p
        %span.city.muted Los Angeles:
        %span#los_angeles.clock 00:00 AM
.row
  .span12
    %h2 Recent transactions
    - if @transactions.any?
      %table#recent_transactions.table.table-hover.table-striped
        %thead
          %tr
            %th ID
            %th.center Date
            %th Player
            %th Description
            %th.right Amount
        %tbody
          = render partial: 'transaction', collection: @transactions