.hero-unit.center
  %h1{ style: 'text-align: center;' }
    welcome to 
    = link_to 'importr', root_path
  %h2.muted the first web-based gamification of real business
  = # link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"