// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  #net_income {
    font-size: 38.5px;
    line-height: 40px;
    font-weight: bold;

    span.muted {
      font-size: 25.4px;
      font-weight: normal;
    }
  }
}

table#transactions {
  td.income {
    color: #4BA90A;
  }
}

form#transaction {
  .controls-row {
    .field_with_errors + [class*="span"] {
      margin-left: 20px;
    }

    input#transaction_amount {
      text-align: right;
    }
  }
}

form#edit_transaction {
  margin: 0 0 -10px;

  input#transaction_amount {
    text-align: right;
  }

  input#transaction_description {
    width: 516px;
  }
}