%tr{ href: edit_transaction_path(transaction) }
  %td= transaction.id
  %td.center= transaction.date
  %td.description{ title: transaction.description }= truncate transaction.description, 80
  %td{ class: "right #{transaction.kind}" }= transaction.amount